@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */
/* common */
.img {
	max-width: 10000px;
	margin: 0 auto;
	position: relative;
	;
}

.title {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	letter-spacing: 8px;
}

.clearfix {
	clear: both;
}


/* header */
.header .header {
	background-image: url(../img/c-sl-005-768x512.jpg);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}


/* main-wrap */
.main-wrap {
	width: 100%;
	height: 100%;
	font-size: 30px;
	background-color: black;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;
}

/* about-wrap */
.about-wrap {
	border: 1px solid red;
	padding: 40px 0;
}

.abouts>.title1 {
	text-align: center;
	float: left;
}

.navs-wrap {
	width: 50%;
	border: 1px solid black;
	float: right;
}

.navi>.slogan {
	text-align: center;
	font-size: 27px;
	padding: 16px;
	margin: 16px 0;
}

.desc {
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
	color: #ccc;
	padding: 10px;
	margin: 0 auto;
}

.photo-wrap {
	width: 50%;
	height: 25%;
	border: 1px solid red;
	text-align: center;
}

.photo-wrap>.photos {

	width: 25%;
	text-align: center;

	margin: 16px 0;
	padding: 20px;
}

.photos {
	text-align: center;
	width: 15%;
	padding: 10px;
	border: 1px solid green;
	margin: 0 auto;
}

.photosi>.women {
	width: 25%;
	padding: 10px;
	float: right;
}


/* locations */
.locations-wrap {
	height: 100vh;

	position: relative;
	/* background: url('../img/c-sl-005-768x512.jpg')no-repeat center; */
	background-image: url('../img/c-sl-005-768x512.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


.navis {
	width: 33.3333%;
	height: 33.3333%;
	margin: 0 auto;
	position: relative;
	float: left;
}

.navis {
	padding: 40px;
}





.persons {
	width: 100%;
	float: left;
	padding: 20px 0;
	margin: 0 auto;
	border: 1px solid red;
}


.navis>.slogan {
	font-size: 15px;
	color: #ccc;
	font-weight: lighter;
	padding: 16px 0;
	border: 1px solid red;
}

.infoss {
	font-size: 12px;
	color: black;
	font-weight: bold;
	border: 1px solid red;
}

.info {
	font-size: 12px;
}

/* menu-wrap */
.menu-wrap {
	text-align: center;
	font-size: 40px;
	padding: 16px 16px;
	margin: 20px;
}

.photoss {
	width: 25%;
	float: left;
	padding: 16px 16px;
	border: 1px solid red;
	text-align: center;
}


.photoss1 {
	width: 15%;
	font-size: 15px;
	border: 1px solid red;
	text-align: center;
	padding: 16px 16px;
	margin: 20px;
}

/* new-wrap */
.new-wrap {
	width: 100%;
	border: 1px solid red;
	text-align: center;
	font-size: 40px;
}
.photosss{width: 33.3333%;text-align: center;border: 1px solid red;float: left;padding: 10px; }
/* news*/
/* press about us*/