@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */
/* common */
.img {
	max-width: 100%;
}

.title {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	letter-spacing: 8px;
}

.clearfix {
	clear: both;
}


/* header */
.header{width:100% auto;float: none;}
.header>.h1 {text-align: center;float: none;}
.navi>.span{width: 100px 0;border: 1px solid black}
.header {background-image: url(../img/c-sl-005-768x512.jpg);background-size: auto; background-position: center;background-repeat: no-repeat;}

	

	/* main-wrap */
	/* locations */
	/* specialities */
	/* menu */
	/* news*/
	/* press about us*/